#mainContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: -2;
}
.weather-container .background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    
}

.default-background .background-video {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    min-height: 100%;
    z-index: -1;
    /* border: solid red; */
    transform: translate(30%,10%);
}
  


.default-background{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    /* border: solid white; */
}
.default-container{
    position: fixed;
    width: 50vw;
    height: 100vh;
    display: flex;
    top: 0;
    margin-top: 37vh; 
    align-items: center;
    flex-flow: column wrap;
    
}
.default-container h1{
    color: white;
    font-size: 40px;
    font-weight: 400;
    
}
.default-container p{
    color: white;
    font-size: 19px;
    font-weight: 400;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: auto;
    margin:auto;
    margin-top: 75px;
    border-radius: 80px;
    background-color: rgba(103, 100, 100, 0.5);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 20px;
}
.top-bar input{
    display:flex;
    width: 350px;
    height: 50px;
    background: #ebfffc;
    border:none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #ebfffc;
    border-radius: 40px;
    cursor:pointer
}
.search-icon:hover{
    background-color: rgb(32, 69, 118);
    transition: background-color 0.6s;

}
.location_icon{
    background: #ebfffc;
    border-radius: 40px;
    width: 48px;
    height: 48px;
    transition: all 1s;
}
.location_icon:hover{
    background-color: black;
    transform: rotate(360deg);
}
.loc_ic{
    width: 38px;
    height: 38px;
    padding-top: 5px;
}

.weather-image{
     margin: 0px;
    display: flex;
    justify-content: center;
    width: 25vw;
    height: 25vh;
}

.weather-temp{
    color: white;
    font-size: 70px;
    font-weight: 350;
    width: 25vw;
}
.weather-location{
    color: white;
    font-size: 40px;
    font-weight: 300;
    width: 25vw;
}

.weather-description{
    width: 25vw;
    color: white;
    font-size: 20px ;
}

.min-max-container{
    color: white;
    font-size: 20px ;
    display: flex;
    justify-content: center;
    flex-flow:row;
    gap: 20px;
    width: 25vw;
}

.data-container{
  position: absolute;
  top: 15vh;
  right: 5vw; 
  width: 30vw;
  height: 23vh;
  border-left: solid 1px white;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 3vw;
}

.element{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        padding: 1%;
        gap: 12px;
        background-color: rgba(35, 80, 138, 0.7);
        width: 12vw;
        height: 10vh;
        border-radius: 12px;
        transition: 1s ease-in;
        box-shadow: 6px 6px 5px 0px #494545;
}
.element:hover{
    background-color: rgb(32, 69, 118,0.9);
    transform: scale(1.2);
}

.data{
    font-size: 90%;
    font-weight: 350;
}

.text{
    font-size:  90%;
    font-weight: 100;
}

.icon{
    width: 20%;
    height: 3vh;
    
}

